{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
  <div class="pane category-pane">
    <div class="categories">
      <h2>Categories</h2>
      {% for category in categories %}
        <a href="{{ url_for('show_category', category_name=category.name_url()) }}">{{ category.name }}</a>
        <br>
      {% else %}
        <p>There is no Categories in the Database</p>
      {% endfor %}
    </div>
    <div class="items">
      <div class="h-inline">
        <h2>Latest Items</h2>
        <a href="{{ url_for('new_item') }}">Add new Item</a>
      </div>

      {% if items %}
        {% for item in items %}
          <a href="{{ url_for('show_item', item_title=item.title_url()) }}">{{ item.title }}</a>
          <a href="{{ url_for('show_category', category_name=item.category.name_url()) }}"><i>({{ item.category.name }})</i></a>
          <br>

          {% include 'edit_delete_links.html' %}
          <br><br>
        {% else %}
          <p>There is no Items in the Database</p>
        {% endfor %}
      {% else %}
        <p>There is no Items in the Database</p>
      {% endif %}
    </div>
  </div>
{% endblock %}