{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
  <div>
    <div>
      <h2>Categories</h2>
      {% for category in categories %}
        <a href="{{ url_for('show_category', category_name=category.name_url()) }}">{{ category.name }}</a>
        <br>
      {% else %}
        <p>There is no Categories in the Database</p>
      {% endfor %}
    </div>
    <div>
      <h2>Latest Items</h2>
      <a href="{{ url_for('new_item') }}">Add new Item</a>
      <br><br>

      {% for item in items %}
        <a href="{{ url_for('show_item', item_title=item.title_url()) }}">{{ item.title }}</a>
        <a href="{{ url_for('show_category', category_name=item.category.name) }}"><i>({{ item.category.name }})</i></a>
        <br>

        <a href="{{ url_for('edit_item', item_title=item.title_url()) }}">Edit</a>
        <a href="{{ url_for('delete_item', item_title=item.title_url()) }}">Delete</a>
        <br><br>
      {% else %}
        <p>There is no Items in the Database</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}