{% extends 'base.html' %}
{% block title %}Categories{% endblock %}

{% block content %}
  <div>
    <div>
      <h2>Categories</h2>
      {% for category in categories %}
        <a href="{{ url_for('show_category', category_name=category.name_url()) }}">{{ category.name }}</a>
        <br>
      {% else %}
        <p>There is no Categories in the Database</p>
      {% endfor %}
    </div>
    <div>
      <h2>{{ category.name }} ({{ category.items|length }} Items)</h2>
      <a href="{{ url_for('new_item') }}">Add new Item</a>
      <br><br>

      {% for item in category.items %}
        <a href="{{ url_for('show_item', item_title=item.title_url()) }}">{{ item.title }}</a>
        <br>

        {% include 'edit_delete_links.html' %}
        <br><br>
      {% else %}
        <p>There is no Items in the Database</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}